input.retrigger(type="radio" name="rerun" id="retrigger--1")
input.retrigger(type="radio" name="rerun" id="retrigger--2" checked)
.buttons
  label.button(for="retrigger--1" class="button--1") PLAY AGAIN
  label.button(for="retrigger--2" class="button--2") PLAY AGAIN

.logo
  span N 
  span E 
  span T
  span F
  span L
  span I
  span X
