<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.mapper.NoteMapper">

<resultMap type="com.team1.domain.Note" id="sel">
	<id		property="noteId" 			column="note_id"/>
	<result property="noteNo"			column="note_no"/>
	<result property="noteTitle"		column="note_title"/>
	<result property="noteContent"		column="note_content"/>
	<result property="noteDate"			column="note_date"/>
</resultMap>

<select id="selectAll" resultMap="sel">
		select 	n.note_id 		as	note_id,
				n.note_no 		as	note_no,
				n.note_title	as	note_title,
				n.note_content 	as	note_content,
				n.note_date		as	note_date
			from note n
			where n.note_id = #{Username}
			ORDER BY n.note_no DESC
		offset #{firstItem} - 1 rows
	fetch next #{itemsPerPage} rows only 
</select>

<select id="selectAllNo" resultMap="sel">
		select 	n.note_id 		as	note_id,
				n.note_no 		as	note_no,
				n.note_title	as	note_title,
				n.note_content 	as	note_content,
				n.note_date		as	note_date
				from note n
				where n.note_no = #{noteNo}
</select>


<insert id="insert">
	<selectKey keyProperty="noteNo" keyColumn="note_no" resultType="int" order="BEFORE">
	 select note_no_seq.nextval from dual
	</selectKey>
		insert into note
				(
				note_id, 	
			 	note_no,
			   	note_title,	
			   	note_content,
			   	note_date	
				)
		values
				(
					#{noteId},
					#{noteNo},
					#{noteTitle},
					#{noteContent},
					sysdate
				)
</insert>

<update id="update">
update note
	   		set note_title			= #{noteTitle},
				note_content		= #{noteContent}
	 		where note_no = #{noteNo}
</update>

<delete id="delete">
delete from note where note_no=#{noteNo}
</delete>
</mapper>