<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.mapper.PositionMapper">
<resultMap type="com.team1.domain.Position" id="positionWithPlayer">
<id 	property="pstno" 			column="position_pstno"/>
<result property="pstname" 			column="position_pstname"/>
<result property="loc" 				column="position_loc"/>
<collection property="player" ofType="com.team1.domain.Player">    
<result property="playerno" 		column="player_playerno"/>
<result property="pname" 			column="player_pname"/>
<result property="job"				column="player_job"/>
<result property="heights" 			column="player_heights"/>
<result property="uniformNumber" 	column="player_uniform_number"/>
<result property="pstno" 			column="player_pstno"/>
</collection>
</resultMap>
<select id="selectAllWithPlayer" resultMap="positionWithPlayer">
select 	p1.pstno			as position_pstno,
		p1.pstname			as position_pstname,
		p1.loc				as position_loc,
		p2.playerno 		as player_playerno,
		p2.pname			as player_pname,
		p2.job				as player_job,
		p2.join				as player_join,
		p2.heights			as player_heights,
		p2.uniform_number 	as player_uniform_number,
		p2.pstno			as player_pstno
	from position p1 left outer join player p2
	on p1.pstno = p2.pstno
</select>

<select id="selectPageWithPlayer" resultMap="positionWithPlayer">
select 	p1.pstno			as position_pstno,
		p1.pstname			as position_pstname,
		p1.loc				as position_loc,
		p2.playerno 		as player_playerno,
		p2.pname			as player_pname,
		p2.job				as player_job,
		p2.join				as player_join,
		p2.heights			as player_heights,
		p2.uniform_number 	as player_uniform_number,
		p2.pstno			as player_pstno
	from 	position p1 left outer join player p2
  	  on 	p1.pstno = p2.pstno
  offset 	#{firstItem}-1 rows
   fetch 	next #{itemsPerPage} rows only
</select>
<select id="selectByPstnoWithPlayer" resultMap="positionWithPlayer">
select 	p1.pstno			as position_pstno,
		p1.pstname			as position_pstname,
		p1.loc				as position_loc,
		p2.playerno 		as player_playerno,
		p2.pname			as player_pname,
		p2.job				as player_job,
		p2.join				as player_join,
		p2.heights			as player_heights,
		p2.uniform_number 	as player_uniform_number,
		p2.pstno			as player_pstno
	from 	position p1 left outer join player p2
  	  on 	p1.pstno = p2.pstno
   where	p1.pstno = #{pstno}
</select>
<insert id="insert">
	insert into position
	(
	pstno,
	pstname,
	loc
	)
	values
	(
	#{pstno},
	#{pstname},
	#{loc}
	)
</insert>
<update id="updateByPstno">
 update position
    set pstno			= #{pstno},
    	pstname	 		= #{pstname},
	 	loc			    = #{loc}
where 	pstno 			= #{pstno}	 
 </update>
</mapper>