@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Abel|Nunito+Sans|Timmana');

body {
	background-color: #ffefd5;
}

h1{
	margin-top: 40px;
	font-family: 'Nanum Gothic';
	font-size: 30px;
	text-align: center;
}

.rginput {
	float: none;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

.btn-default .btn-warning {
	text-align: center;
	margin: 0 auto;
}

.btn-warning {
	font-family: 'Abel';
	font-color: #fffae6;
	margin-right: 25px;
}

.btn {
	margin-top: 60px;
}