.row {
	width: 100%;
	margin: auto;
}

.col-lg-10 {
	height: 100px;
}

.col-lg-2 {
	height: 100px;
	padding: 0px;
}

.list1 {
	width: 100%;
}

.list2 {
	visibility: hidden;
}

.nav3 {
	margin-bottom: 0px;
	margin-right: 0px;
}

.container-fluid {
	padding-left: 0px;
}
/* div { */
/* float: left; */
/* } */
.nav2>li>a {
	padding-bottom: 5px;
	padding-top: 5px;
}